[user]
	name = fenouille
	email = ghafari.olivier@gmail.com
[core]
        autocrlf = false
[alias]
        git = ! git
        st = status
        ci = commit
        co = checkout
        fap = fetch --all --prune
        glog = log --graph --oneline --decorate --branches --tags --date-order --full-history
        lg = log --graph --decorate --date-order --full-history --pretty=format:'%C(yellow)%h%Creset <%C(red)%an%Creset> (%C(green)%ai%Creset)%C(auto)%d%Creset %s'
        lga = log --graph --decorate --date-order --full-history --pretty=format:'%C(yellow)%h%Creset <%C(red)%an%Creset> (%C(green)%ai%Creset)%C(auto)%d%Creset %s' --all
        incoming = ! git fetch --quiet && git log --graph --oneline --date-order --full-history ..@{upstream}
        outgoing = ! git fetch --quiet && git log --graph --oneline --date-order --full-history @{push}..
        incoming-all = ! git fetch --quiet && git for-each-ref --format='%(refname:short)' refs/heads | xargs -I {} git log --graph --oneline --decorate --date-order --full-history {}..{}@{upstream}
        outgoing-all = ! git fetch --quiet && git for-each-ref --format='%(refname:short)' refs/heads | xargs -I {} git log --graph --oneline --decorate --date-order --full-history {}@{push}..{}
        forget = update-index --assume-unchanged
        unforget = update-index --no-assume-unchanged
        forgotten = ! git ls-files -v | grep ^[a-z]
        vimdiff = difftool --no-prompt --tool=vimdiff
[status]
        showUntrackedFiles = all
[color]
        ui = auto
[pull]
        rebase = preserve
[rebase]
        autostash = true
        autosquash = true
[push]
        default = simple
[merge]
        tool = kdiff3
[merge "ours"]
        driver = true
[diff]
        renames = copy
        mnemonicPrefix = true
